{% extends 'base.html' %}

{% block content %} 
   <h2 class="nav-link" style="pointer-events: none;">Reset your Password</h2>
   <p class="nav-link" style="pointer-events: none; text-shadow: darkseagreen; color:green;"><b>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly. </b></p>

<p class="nav-link" style="pointer-events: none; text-shadow: coral; color:orange;><b>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</b></p>
{% endblock %}